
<div class="container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <style>

        .card1 {
            /* background-color: #6b9bd1; Bleu */
            /* width:30%; */
            /* height:250px; */
            /* border:solid; */
            margin:5px;
        }
        .card2{
            background-color:#87CEEB;
            border:1px #87CEEB solid;
            box-shadow: 3px 0px 0px 0px #28a745;
        }
    </style>
</head>

<div class="container text-center"> 
    <h2> Section evennement </h2>
    <div class="d-flex justify-content-evenly">
    {% for event in events %}
        <div class="card bg-success card1" style="width: 20rem;">
            <a href="{{ path('app_carroussel_event',{'id_event': event.id }) }}" class="text-decoration-none text-black"> 
                <img class="card-img-top" height="180" src="{{ asset('upload/img/event/'~ event.image)}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text text-bg-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
    {% endfor %}
            <div class=" card card2" style="width:5rem;">
            <div class="card-body d-flex justify-content-center align-items-center">
                <a href="{{ path('app_carroussel_event') }}" class="btn btn-success">
                    <i class="fas fa-arrow-alt-circle-right fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>